<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="../static/css/styles.css" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <title>Movie Recommender System</title>
    </head>
    <body style="background-color:grey;">
        <div class="heading">
            <br><br>
            <h1>Movie Recommender System</h1>
            <h3>Project Created With ❤ By Shashank</h3><br>
        </div>
        <form action="/" method="POST">
            <div class="search-movie">
                <input type="text" name="movie" id="movie" class="movie-txt" placeholder="Search Movies..."/>
                <!-- <a class="movie-btn">
                <i class="far fa-search"></i>
                </a> -->
                <input type="submit" class="movie-btn" value=""></input>
            </div>
        </form>
    </body>
</html>