<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="../static/css/show_styles.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <title>Movie Recommender System</title>
    </head>
    <body>
        <div class="show">
            <div class="heading">
                <h3>Thank You For Using Movie Recommender Web App ❤</h3>
                <h3>Recommended Movies For You</h3>
                <p><strong>{{movies}}</strong></p>
            </div>
        </div>
    </body>
</html>